* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 15px;
}

.left {
    width: 30%;
    padding: 15px;
}

.right {
    width: 70%;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}