.carousel-item>img {
    height: 500px;
    object-fit: cover; /*verhouding behouden*/
}

.copyright {
    background-color: rgba(0, 0, 0, 0.1);
}

/*Mobile version*/
@media screen and (max-width: 600px) {
    #pf {
        display: block;
        margin: 0 auto;
    }
    
    h2 {
        text-align: center;
      }
}